@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.site_heading {
  @apply text-3xl font-bold text-white;
}

.box {
  @apply border border-gray-200 shadow-sm rounded-md p-4 mb-4;
}

.heading {
  @apply text-3xl font-semibold;
}

.loading {
  @apply text-blue-500;
}

.error {
  @apply text-red-500;
}

.price {
  @apply text-green-600 text-2xl font-bold;
}

.button {
  @apply px-3 py-2 pb-[.45rem] bg-gray-800 text-sm mr-1 text-gray-300 rounded-md hover:bg-gray-900;
}

input {
  @apply text-gray-300 px-3 py-1 mr-1 pr-1 text-lg outline-1 outline-gray-300 rounded-md ml-[.1rem];
  background-color: rgba(0, 0, 0, 0.65);
  border: 0.01rem solid #2a2a2a;
}

input:focus,
input:active {
  outline-width: 0.1rem;
  outline-color: #2a2a2a;
  border-color: #2a2a2a;
  border-width: 0.01rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
